<% @page_title = "Welcome #{session[:username]}" %>
<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice]%>
	</div>
<% end %>

<%= link_to("Add New Project", {:controller => 'projects', :action => 'new'}, :class => 'action new') %>
<span style="font-size: 12px;">You have <%= pluralize(@projects.size, 'project') %> (<%= User.max_proj(@user.project_capacity.to_i, @user.fb_like) %>), and <%= pluralize(@images.size, 'image') %> (<%= User.max_img(@user.image_capacity.to_i, @user.fb_like) %>)</span>

<br style="clear:both;" />
<div class="info-wrap">
  <% @projects.each do |project| %>
  	<div class="project-thumb curve">
  		<%= link_to( image_tag(Project.image_thumbnail(project)), {:controller => 'projects', :action => 'show',   :id => project.id}, :class => 'action show') %>
  		<%= %><br />
  		<p class="project-cap"><%= link_to( project.title, 
  		{:controller => 'projects', :action =>   'show', :id => project.id}, :class => 'action show') %> </p> 
  	</div>
  <% end %>
  <br style="clear:both;" />
</div>